beautifulsoup4==4.8.0
colorama==0.4.6
cryptography==42.0.8
Cython==3.0.11
eppy ==0.5.63
joblib==1.4.2
kiwisolver==1.4.8
lxml==5.4.0
munch==4.0.0
networkx==3.4.2
numpy==1.26.4
packaging==24.2
pluggy==1.5.0
shapely==2.0.7
pyparsing==3.2.1
rdflib==7.1.4
scikit-learn==1.5.2
scipy==1.14.1
six==1.17.0
soupsieve==2.7
threadpoolctl==3.5.0
tinynumpy==1.2.1
xgboost==2.1.2
